<!DOCTYPE html>
<html>
<head>
  <title>Action Cable Examples</title>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <meta name="current-user" id="<%= @current_user.try(:id) %>">
</head>
<body>
  <header>
    <p>
      <%= link_to 'Messages with live comments', messages_path %>

      <% if @current_user %>
        <%= t('hello') %> <%= @current_user.name %>
        (<%= link_to 'Logout', session_path, method: :delete %>)!
      <% end%>
    </p>
  </header>

<%= yield %>

</body>
</html>
